@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #780206;
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);

}

.neon-botton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.neon-link:link, .neon-link:visited {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-weight:normal;
    text-transform: uppercase;
    background-color: transparent;
    color:#099FFF;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    overflow: hidden;
    border:none;
}

.neon-link:hover, .neon-link:active {
    color: #0b5b8d;
    background-color: #4deeea;
    box-shadow: 0px 0px 10px #0b5b8dda, 0px 0px 20px #0b5b8d, 0px 0px 30px #0b5b8d, 0px 0px 40px #0b5b8d, 0px 0px 50px #0b5b8d, 0px 0px 60px #0b5b8d;
    border-radius: 2px;
    transition-delay: 0.2s;
    cursor: pointer;
}